<template>
<div class="popupwrapper2" ref="popupwrapper2">
    <forgetpas
     v-if="IsForgetPopupVisible"
@closePopup="closePopupForget"/>


  <div class="enterpopup">
       <img class="CloseModal" @click="closePopup"  src="../../static/close.svg" alt="">
 <div class="popup-header2">
<span>Вход</span>
 </div>

 <div class="popup-content2">
     <input type="" placeholder="E-mail" >
     <input type="" placeholder="Пароль" >
     
    <p class="forget" @click="ShowForgetPopup">Забыли пароль?</p>
 </div>
<div class="popup-footer2">
    <a class="loginbtn">Войти</a>
</div>
  </div>
  
  </div>
</template>

<script>
import forgetpas from '../popup/forgetpas'
export default {
name: "enterpopup",
components:{
forgetpas
},
props: {},
data() {
    return{
        
        IsForgetPopupVisible: false
    }
},
methods: {
    closePopup() {
        this.$emit('closePopup')
           
        
    } ,
    ShowForgetPopup(){
  this.IsForgetPopupVisible = true
  },
  closePopupForget () {
     this.IsForgetPopupVisible = false
  },
},
mounted() {
    let vm = this;
document.addEventListener('click', function(item){
    if( item.target === vm.$refs['popupwrapper2']) {
        vm.closePopup()
    }
})
},
}
</script>

<style>
.popupwrapper2{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    
    z-index: 10;
    background: rgba(64, 64, 64, .4);
}
.enterpopup{
    background-color: white ;
    position: fixed;
    box-shadow: 0 0 17px 0 black;
    z-index: 10;
}
.popup-header2 span{
    font-family: 'ALSSchlangesans-Black';
font-style: normal;
font-size: 60px;
line-height: 134.5%;
text-transform: uppercase;
color: #E52117;
margin-bottom: .5vw;
}
.popup-header2{
display: flex;
    justify-content: center;
align-items: center;

    padding: 1rem ;
}
.popup-content2{
    display: grid;
    justify-content: center;
    align-items: center;
    
    padding: 1rem ;
    padding-left: 5rem;
    
    padding-right: 5rem;
}

.popup-footer2{
display: grid;
justify-content: center;
align-items: center;
    padding: 1rem ;
}
.popup-content2 p{
 font-family: 'ALSSchlangesans-Bold';
 margin-top: 0;
text-align: center;
font-style: normal;
font-size: 18px;
line-height: 134.5%;
text-transform: uppercase;   
}
.CloseModal{
   width: 5%;
  display: flex;
  cursor: pointer;
  transition: 0 0.4 ease;
}
.CloseModal:hover {
    transform: scale(1.1);
    }
.loginbtn{
cursor: pointer;
background: #E52117;
font-family: 'ALSSchlangesans-Black';
font-size: 22px;
line-height: 2rem !important;
color: #fff;
padding: 1rem 4rem;
text-align: center;
white-space: nowrap;
box-sizing: border-box;
text-decoration: none;
text-transform: uppercase;
border-radius: 20rem;
outline: none;
transition: all .3s ease !important;
border: 1px solid #E52117;
}
.loginbtn:hover {
    background: #fff;
    color: #E52117;
    }


.popup-content2 input{
      position: relative;
background: #fff;
border: 2px solid #a8a8a8;
border-radius: 10rem;
box-sizing: border-box;
 font-size: 1.5rem;
line-height: 140%;
color: #000;
padding: 1rem 6rem;
outline: none;
text-align: left;
margin-right: 1rem ;
margin-bottom: 1rem ;
}
.forget {
    cursor: pointer;
}

 @media only screen and (max-width: 360px) { 
      .enterpopup{
width: 100%;
      }
.popup-header2 span{
font-size: 40px;
}
.popup-header2 p{
font-size: 14px;
}
.popup-header2 h3{
font-size: 14px;
}
.popup-content2{
    padding-left: 1rem;
    
    padding-right: 1rem;
}
      .popup-content2 input{

width: 100%;
 font-size: 14px;
}

   .popup-content2 p{
font-size: 16px;
line-height: 134.5%;
text-transform: uppercase;
margin-bottom:0 ;
}
.popup-footer2 a{
    font-size: 14px;
line-height: 19.6px !important;
color: #fff;
padding: 1rem 2rem;
}}
</style>