<template>
<div class="popupwrapper3" ref="popupwrapper3">
  <div class="forgetpas">
       <img class="CloseModal" @click="closePopup"  src="../../static/close.svg" alt="">
 <div class="popup-header3">
<span>ЗАБЫЛИ ПАРОЛЬ?</span>
 </div>

 <div class="popup-content3">
     <input type="" placeholder="+7 (9_ _) _ _ _ - _ _ - _ _" >
      <a class="sandcodebtn1">Отправить код</a>
 </div>
 <div class="popup-contentcode">
      <input type="" placeholder="ввести код">
        <p>Не пришёл пароль? Отправить <br> повторно можно через 6 сек</p>
        <input type="" placeholder="придумайте новый пароль">
 </div>
<div class="popup-footer3">
    <a class="sandbtn">Отправить</a>
</div>
  </div></div>
</template>

<script>
export default {
name: "forgetpas",
props: {},
data() {
    return{
    }
},
methods: {
    closePopup() {
        this.$emit('closePopup')
           
        
    } 
},
mounted() {
    let vm = this;
document.addEventListener('click', function(item){
    if( item.target === vm.$refs['popupwrapper3']) {
        vm.closePopup()
    }
})
},
}
</script>

<style>
.popupwrapper3{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(64, 64, 64, .4);
}
.forgetpas{
    background-color: white ;
    position: fixed;
    box-shadow: 0 0 17px 0 black;
    z-index: 20;
}
.popup-header3 span{
    font-family: 'ALSSchlangesans-Black';
font-style: normal;
font-size: 60px;
line-height: 134.5%;
text-transform: uppercase;
color: #E52117;
margin-bottom: .5vw;
}
.popup-header3{
display: flex;
    justify-content: center;
align-items: center;

    padding: 1rem ;
}
.popup-content3{
    display: flex;
    justify-content: center;
    align-items: center;
    
    padding: 1rem ;
    padding-left: 5rem;
    
    padding-right: 5rem;
}
.popup-footer3{
display: flex;
justify-content: center;
align-items: center;
    padding: 1rem ;
}

.CloseModal{
   width: 5%;
  display: flex;
  cursor: pointer;
  transition: 0 0.4 ease;
}
.CloseModal:hover {
    transform: scale(1.1);
    }
.sandbtn{
cursor: pointer;
background: #E52117;
font-family: 'ALSSchlangesans-Black';
font-size: 22px;
line-height: 2rem !important;
color: #fff;
padding: 1rem 4rem;
text-align: center;
white-space: nowrap;
box-sizing: border-box;
text-decoration: none;
text-transform: uppercase;
border-radius: 20rem;
outline: none;
transition: all .3s ease !important;
border: 1px solid #E52117;
}
.sandbtn:hover {
    background: #fff;
    color: #E52117;
    }

    .sandcodebtn1{
        position: absolute;
        cursor: pointer;
background: #E52117;
font-family: 'ALSSchlangesans-Bold';
font-size: 18px;
right: 13%;
line-height: 2rem !important;
color: #fff;
padding: 1rem 2rem;
text-align: center;
white-space: nowrap;
box-sizing: border-box;
text-decoration: none;
text-transform: uppercase;
border-radius: 0px 40px 40px 0px;
outline: none;
transition: all .3s ease !important;
border: 1px solid #E52117;
    }
    .sandcodebtn1:hover {
    background: #fff;
    color: #E52117;
    }
.popup-content3 input{
width: 100%;
position: relative;
background: #fff;
border: 2px solid #a8a8a8;
border-radius: 10rem;
box-sizing: border-box;
 font-size: 1.5rem;
line-height: 140%;
color: #000;
padding: 1rem 10rem;
outline: none;
text-align: left;
margin-right: 1rem ;
}
.popup-contentcode{
display: grid;
    justify-content: center;
    align-items: center;
    
    padding: 1rem ;
    padding-left: 5rem;
    
    padding-right: 5rem;
}
.popup-contentcode input{
width: 100%;
position: relative;
background: #fff;
border: 2px solid #a8a8a8;
border-radius: 10rem;
box-sizing: border-box;
 font-size: 1.5rem;
line-height: 140%;
color: #000;
padding: 1rem 10rem;
outline: none;
text-align: left;
margin-right: 1rem ;
}
.popup-contentcode p{
    text-align: center;
            font-family: 'ALSSchlangesans-Bold';
font-style: normal;
font-size: 14px;
line-height: 134.5%;
text-transform: uppercase;
margin-bottom:0 ;
}

 @media only screen and (max-width: 360px) { 
      .forgetpas{
width: 100%;
      }
.popup-header3 span{
font-size: 36px;
text-align: center;
}
.popup-header3 p{
font-size: 14px;
}
.popup-header3 h3{
font-size: 14px;
}
.popup-content3{
    padding-left: 1rem;
    
    padding-right: 1rem;
}
      .popup-content3 input{
 font-size: 14px;
}

    .sandcodebtn1{
        position: absolute;
        cursor: pointer;
background: #E52117;
font-family: 'ALSSchlangesans-Bold';
font-size: 14px;
right: 7.5%;
line-height: 135% !important;
color: #fff;
padding: 1rem 2rem;
text-align: center;
white-space: nowrap;
box-sizing: border-box;
text-decoration: none;
text-transform: uppercase;
border-radius: 0px 40px 40px 0px;
outline: none;
transition: all .3s ease !important;
border: 1px solid #E52117;
    }
    .popup-contentcode p{
        
 font-size: 12px;
    }
    .popup-contentcode input{

width: 100%;
 font-size: 14px;
}
   .popup-content3 p{
font-size: 16px;
line-height: 134.5%;
text-transform: uppercase;
margin-bottom:0 ;
}
.popup-footer3 a{
    font-size: 14px;
line-height: 19.6px !important;
color: #fff;
padding: 1rem 2rem;
}}
</style>