<template>
<div class="popupwrapper1" ref="popupwrapper1">
  <div class="loadcheckpopup">
       <img class="CloseModal" @click="closePopup"  src="../../static/close.svg" alt="">
 <div class="popup-header">
<span> Загрузить Чек</span>
 </div>

 <div class="popup-content">
     <input type="" placeholder="загрузить файл" > 
     <a class="choosefile">Выбрать файл</a>
 </div>
<div class="popup-footer">
    <a class="sandbtn">Отправить</a>
</div>
  </div></div>
</template>

<script>
export default {
name: "loadcheckpopup",
props: {},
data() {
    return{}
},
methods: {
    closePopup() {
        this.$emit('closePopup')
    } 
},
mounted() {
    let vm = this;
document.addEventListener('click', function(item){
    if( item.target === vm.$refs['popupwrapper1']) {
        vm.closePopup()
    }
})
},
}
</script>

<style>
.popupwrapper1{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(64, 64, 64, .4);
}
.loadcheckpopup {
    background-color: white ;
    position: fixed;
    box-shadow: 0 0 17px 0 black;
    z-index: 10;
}
.popup-header span{
    font-family: 'ALSSchlangesans-Black';
font-style: normal;
font-size: 60px;
line-height: 134.5%;
text-transform: uppercase;
color: #E52117;
margin-bottom: .5vw;
}
.popup-header{
display: flex;
    justify-content: center;
align-items: center;

    padding: 1rem ;
}
.popup-content{
    display: flex;
    justify-content: center;
    align-items: center;
    
    padding: 1rem ;
    padding-left: 5rem;
    
    padding-right: 5rem;
}
.popup-footer{
display: flex;
justify-content: center;
align-items: center;
    padding: 1rem ;
}

.CloseModal{
   width: 5%;
  display: flex;
  cursor: pointer;
  transition: 0 0.4 ease;
}
.sandbtn{
cursor: pointer;
background: #E52117;
font-family: 'ALSSchlangesans-Black';
font-size: 22px;
line-height: 2rem !important;
color: #fff;
padding: 1rem 4rem;
text-align: center;
white-space: nowrap;
box-sizing: border-box;
text-decoration: none;
text-transform: uppercase;
border-radius: 20rem;
outline: none;
transition: all .3s ease !important;
border: 1px solid #E52117;
}
.sandbtn:hover {
    background: #fff;
    color: #E52117;
    }

    .choosefile{
        position: absolute;
        cursor: pointer;
background: #E52117;
font-family: 'ALSSchlangesans-Bold';
font-size: 18px;
right: 15.5%;
line-height: 2rem !important;
color: #fff;
padding: 1rem 2rem;
text-align: center;
white-space: nowrap;
box-sizing: border-box;
text-decoration: none;
text-transform: uppercase;
border-radius: 0px 40px 40px 0px;
outline: none;
transition: all .3s ease !important;
border: 1px solid #E52117;
    }
    .choosefile:hover {
    background: #fff;
    color: #E52117;
    }
.popup-content input{

position: relative;
background: #fff;
border: 2px solid #a8a8a8;
border-radius: 10rem;
box-sizing: border-box;
 font-size: 1.5rem;
line-height: 140%;
color: #000;
padding: 1rem 6rem;
outline: none;
text-align: left;
margin-right: 1rem ;
}


  @media only screen and (max-width: 360px) { 
      .loadcheckpopup{
width: 100%;
      }
.popup-header span{
font-size: 28px;
}
      .popup-content input{


 font-size: 14px;
padding: 1rem 5rem;
margin-right: 1rem ;
margin-left: 1rem ;
}
  .choosefile{
font-size: 14px;
right: 2%;
line-height: 19.6px !important;

    }
   
.popup-footer a{
    font-size: 14px;
line-height: 19.6px !important;
color: #fff;
padding: 1rem 2rem;
}
      }
</style>