<template>
<div class="popupwrapper" ref="popupwrapper">
  <div class="regpopup">
       <img class="CloseModal" @click="closePopup"  src="../../static/close.svg" alt="">
 <div class="popup-header1">
<span> Регистрация</span>
<p>Уже зарегистрированы? </p>
<h3 class="login1" > войти </h3>
 </div>

 <div class="popup-content1">
     <input type="" placeholder="Имя" >
     <input type="" placeholder="Фамилия" >
     <input type="" placeholder="E-mail " >
     <div class="sandcode">
     <input type="" placeholder="+7 (9_ _) _ _ _ - _ _ - _ _ "> <a class="sandcodebtn">отправить код</a></div>
 </div>
<div class="popup-footer1">
    <p>Не пришёл пароль? Отправить <br> повторно можно через 6 сек</p>
    <p>Нажимая кнопку "Зарегистрироваться" <br> я соглашаюсь с правилами акции</p>
    <a class="regdbtn">зарегистрироваться</a>
</div>
  </div></div>
</template>

<script>
export default {
name: "regpopup",
props: {},
data() {
    return{}
},
methods: {
    closePopup() {
        this.$emit('closePopup')
           
        
    } 
},
mounted() {
    let vm = this;
document.addEventListener('click', function(item){
    if( item.target === vm.$refs['popupwrapper']) {
        vm.closePopup()
    }
})
},
}
</script>

<style>
.popupwrapper{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(64, 64, 64, .4);
}
.regpopup{
    background-color: white ;
    position: fixed;
    box-shadow: 0 0 17px 0 black;
    z-index: 10;
}
.popup-header1 span{
    font-family: 'ALSSchlangesans-Black';
font-style: normal;
font-size: 60px;
line-height: 134.5%;
text-transform: uppercase;
color: #E52117;
margin-bottom: .5vw;
}
.popup-header1{
display: grid;
    justify-content: center;
align-items: center;
text-align: center;

    padding: 1rem ;
}
.popup-header1 p{
        font-family: 'ALSSchlangesans-Bold';
font-style: normal;
font-size: 36px;
line-height: 134.5%;
text-transform: uppercase;
margin-bottom:0 ;
}
.popup-header1 h3{
      font-family: 'ALSSchlangesans-Black';
font-style: normal;
font-size: 36px;
line-height: 134.5%;
text-transform: uppercase;
color: #E52117;
margin-top: 0;
}
.popup-content1{
    display: grid;
    justify-content: center;
    align-items: center;
    
    padding: 1rem ;
    padding-left: 5rem;
    
    padding-right: 5rem;
}
.popup-content1 input{
    margin: 1rem;
    width: 100%;
text-align: left;
}
.popup-footer1{
display: grid;
justify-content: center;
align-items: center;
text-align: center;
    padding: 1rem ;
}
.popup-footer1 p{
           font-family: 'ALSSchlangesans-Bold';
font-style: normal;
font-size: 18px;
line-height: 134.5%;
text-transform: uppercase;
margin-bottom:0 ;
}
.CloseModal{
   width: 5%;
  display: flex;
  cursor: pointer;
  transition: 0 0.4 ease;
}
.CloseModal:hover {
    transform: scale(1.1);
    }
.regdbtn{
cursor: pointer;
background: #E52117;
font-family: 'ALSSchlangesans-Black';
font-size: 22px;
line-height: 2rem !important;
color: #fff;
padding: 1rem 4rem;
text-align: center;
white-space: nowrap;
box-sizing: border-box;
text-decoration: none;
text-transform: uppercase;
border-radius: 20rem;
outline: none;
transition: all .3s ease !important;
border: 1px solid #E52117;
}
.regdbtn:hover {
    background: #fff;
    color: #E52117;
    }

    .sandcodebtn{
position: absolute;
bottom: 27.7%;
right: 10%;
cursor: pointer;
background: #E52117;
font-family: 'ALSSchlangesans-Bold';
font-size: 18px;
line-height: 2rem !important;
color: #fff;
padding: 1rem 2rem;
text-align: center;
white-space: nowrap;
box-sizing: border-box;
text-decoration: none;
text-transform: uppercase;
border-radius: 0px 40px 40px 0px;
outline: none;
transition: all .3s ease !important;
border: 1px solid #E52117;
    }
    .sandcodebtn:hover {
    background: #fff;
    color: #E52117;
    }
.popup-content1 input{
      position: relative;
background: #fff;
border: 2px solid #a8a8a8;
border-radius: 10rem;
box-sizing: border-box;
 font-size: 1.5rem;
line-height: 140%;
color: #000;
padding: 1rem 6rem;
outline: none;
text-align: left;
margin-right: 1rem ;
}
.login1{
    cursor: pointer;
    margin-bottom:0 ;
}
  @media only screen and (max-width: 360px) { 
      .regpopup{
width: 100%;
      }
.popup-header1 span{
font-size: 28px;
}
.popup-header1 p{
font-size: 14px;
}
.popup-header1 h3{
font-size: 14px;
}
.popup-content1{
    padding-left: 1rem;
    
    padding-right: 2rem;
}
      .popup-content1 input{

width: 100%;
 font-size: 14px;
}
  .sandcodebtn{
      
right: 5%;
bottom: 29.6%;
font-size: 14px;
line-height: 19.6px !important;

    }
   .popup-footer1 p{
           font-family: 'ALSSchlangesans-Bold';
font-style: normal;
font-size: 12px;
line-height: 134.5%;
text-transform: uppercase;
margin-bottom:0 ;
}
.popup-footer1 a{
    font-size: 14px;
line-height: 19.6px !important;
color: #fff;
padding: 1rem 2rem;
}}
</style>