<template>
  <div>
    <Nuxt />
  </div>
</template>

<style>
@font-face {
	font-family: 'ALSSchlangesans-Light'; 
  font-style: normal;
  font-weight: 100;
	src: local('ALSSchlangesans-Light'),

	url(/fonts/ALSSchlangesans-Light.woff),
    	url(/fonts/ALSSchlangesans-Light.woff2),
      	url(/fonts/ALSSchlangesans-Light.ttf),
        	url(/fonts/ALSSchlangesans-Light.eot); 

}
@font-face {

	font-family: 'ALSSchlangesans-Bold'; 
  font-style: normal;
	font-weight: bold;
	src: local('ALSSchlangesans-Bold'),

		url(/fonts/ALSSchlangesans-Bold.woff),
    	url(/fonts/ALSSchlangesans-Bold.woff2),
      	url(/fonts/ALSSchlangesans-Bold.ttf),
        	url(/fonts/ALSSchlangesans-Bold.eot); 

}
@font-face {

	font-family: 'ALSSchlangesans-Black'; 
  font-style: normal;
	font-weight: bold;
	src: local('ALSSchlangesans-Black'),

		url(/fonts/ALSSchlangesans-Black.woff),
    	url(/fonts/ALSSchlangesans-Black.woff2),
      	url(/fonts/ALSSchlangesans-Black.ttf),
        	url(/fonts/ALSSchlangesans-Black.eot); 

}
@font-face {

	font-family: 'ALSSchlangesans'; 
  font-style: normal;
	font-weight: bold;
	src: local('ALSSchlangesans'),

				url(/fonts/ALSSchlangesans.woff)
    	url(/fonts/ALSSchlangesans.woff2)
      	url(/fonts/ALSSchlangesans.ttf)
        	url(/fonts/ALSSchlangesans.eot) ; 

}

body{
  margin: 0;
  padding: 0;
  width: 100%;
}
html {
  
	font-family: 'ALSSchlangesans'; 
  font-size: 16px;
  word-spacing: 1px;
 
}

</style>
