<template>
  <div class="container">

    <loadcheckpopup
    v-if="IsRegCheckVisible"
    @closePopup="closePopupRegCheck"
    />
<regpopup
v-if="IsRegPopupVisible"
    @closePopup="closePopupReg"
/>
<enterpopup
v-if="IsEnterPopupVisible"
    @closePopup="closePopupEnter"
/>
  <div class="header">
<div class="logos">
<a href="">
<img class="logo" src="../static/henkel.png" alt=""></a>
<div class="polosa"></div>
<a href=""><img class="logo" src="../static/ytkonos.png" alt=""></a>
</div>
<a id="textheader">Об акции</a>
<a id="textheader">Правила</a>
<a id="textheader">победители</a>
<a id="textheader">Помощь</a>
<div class="vhod">
<a @click="ShowRegPopup" id="textheader">регистрация</a>
<a @click="ShowEnterPopup" id="textheader">вход</a>
</div>
  </div>

<div class="content">
  <div class="contenttext">
<h3>Чисто домашний <br>
Новый год!</h3>
<p>Купите 2 товара Henkel в онлайн-магазине <br>
Утконос и выиграйте сертификаты «М.Видео»</p>
<div class="buttons1">
<a href="" class="buybutton1"><img src="../static/Vector.png" alt=""> купить</a>
<a class="regbutton1" @click="showRegCheck" > загрузить чек</a>
</div>
</div>

<img class="productsimg" src="../static/products.png" alt="">
<div class="productimgmob">
<img class="productimgmobpic" src="../static/products-mobile.png" alt=""></div>
</div>

<div class="mehanika">  
  <div class="mehanika-title">
<h3>Механика акции</h3>
<p>с 16 декабря по 29 декабря</p>
</div>
<div>
<div id="box1" class="boxes">
<h3>1. Купите</h3>
<p>2 товара Henkel для чистоты <br>
и свежести дома в онлайн-магазине Утконос </p>
<div class="boximg1"></div>
</div>

<div id="box2" class="boxes">
<h3>2. зарегистрируйте</h3>
<p>чек на этом сайте</p>
<div class="boximg2"></div>
</div>

<div id="box3" class="boxes">
<h3>3. выигрывайте</h3>
<p>ежедневно сертификаты «М.Видео» <br> на 5 000 рублей</p>
<div class="boximg3"></div>
</div>
</div>
<div class="mainprize">
<img src="../static/cart10.png" alt="">
<div class="mainprizetext">
<h3>главный приз</h3>
<p>сертификат «М.Видео» на 100 000 рублей</p>
</div>

</div>
<div class="buttons">
<a href="" class="buybutton"><img src="../static/Vector.png" alt=""> купить</a>
<a class="regbutton" @click="showRegCheck" > загрузить чек</a>
</div>
<p id="sth">читать полные правила акции</p>
</div>

<div class="winners">
<h3>Победители</h3>
<div class="inputphone">
<p> Проверить статус по номеру телефона</p>
<input type="" placeholder="+7 ***-***-**-**">
<a class="find-button">найти</a></div>
</div>
 <div class="searchtable">
<div class="jopa">
  <a href="">Все призы</a>
  <a href="">сертификат 5000 рублей</a>
  <a href="">сертификат 100 000 рублей</a>
</div>
<table class="wintable">
<thead>
  <tr>
    <td>Дата розыгрыша</td>
    <td>Номер телефона</td>
 <td>Выигранный приз</td>
  </tr>
</thead>
<tbody>
  <tr>
    <td>123</td>
    <td>132</td>
 <td>2131231</td>
  </tr>
  
</tbody>
</table>
 </div>


  <div class="header">
<div class="logos">
<a href="">
<img class="logo" src="../static/henkel.png" alt=""></a>
<div class="polosa"></div>
<a href=""><img class="logo" src="../static/ytkonos.png" alt=""></a>
</div>
<a id="textheader">Об акции</a>
<a id="textheader">Правила</a>
<a id="textheader">победители</a>
<a id="textheader">Помощь</a>
  </div>
  </div>
</template>

<script>

import loadcheckpopup from '../components/popup/loadcheckpopup'
import regpopup from '../components/popup/regpopup'
import enterpopup from '../components/popup/enterpopup'
export default {
   components:{
   loadcheckpopup,
   regpopup,
   enterpopup
  },
    props: {},
  data() {
    return{
IsRegCheckVisible: false,
IsRegPopupVisible: false,
IsEnterPopupVisible: false,
    }
},
 
computed:{},
methods:{
showRegCheck(){
  this.IsRegCheckVisible= true
},
closePopupRegCheck(){
   this.IsRegCheckVisible= false
},
ShowRegPopup(){
this.IsRegPopupVisible=true
},
closePopupReg(){
  this.IsRegPopupVisible=false
},
ShowEnterPopup(){

  this.IsEnterPopupVisible= true
},
closePopupEnter(){
  this.IsEnterPopupVisible= false
},
}
}
</script>

<style>

.header {
display: flex;
flex-wrap: nowrap;
justify-content: center;
align-items: center;
padding: 2rem;
	
}

.header a{
cursor: pointer;
font-size: 18px;
font-weight: 900;
line-height: 100%;
text-transform: uppercase;
  display: inline-flex;
  position: relative;
margin-left: 3rem;
margin-right: 3rem;
font-family: 'ALSSchlangesans-Black'; 
  font-style: normal;
	font-weight: bold;
  color: #000;
}
.header :hover{
  color: #be0000;
}

.logos img{
position: relative;
height: 100%;
}
.logos :hover {
   transform: scale(1.05);}
.logos{
position: absolute;
left: 3vw;
height: 5%;
display: flex;
flex-direction: row;
flex-wrap: nowrap;
justify-content: center;
align-content: stretch;
align-items: center;
}
.logos a{
  position: relative;
display: block;
height: 100%;
margin-right: 0;
margin-left: 0;
margin-bottom: 0 !important;
}


.polosa {
  position: relative;
display: block;
height: 100%;
width: 1px;
background: #000;
margin-right: 1vw;
margin-left: 1vw;
}
.vhod{
  position: absolute;
right: 1vw;
}
.vhod a{
  margin-right:0.5rem ;
  color: #BE0000;
}
.content{
  background-image: url("../static/back1.jpg") ;
  background-repeat: no-repeat ;
  background-position: 50% 0%;
background-size: 100%;
width:100%; 
}
.contenttext {
padding-left: 7% ;
width:100%;
box-sizing: border-box;
transition: all .6s ease;
display: flex;
flex-direction: column;
flex-wrap: nowrap;
justify-content: center;
align-content: stretch;
align-items: center;
align-items: flex-start;
}
.contenttext h3 {
  padding-top: 10%;
font-weight: 900;
font-size: 80px;
line-height: 120%;
text-align: center;
letter-spacing: 0.1em;
text-transform: uppercase;
font-family: 'ALSSchlangesans-Black'; 
  font-style: normal;
	font-weight: bold;
  
color: white;
}

.contenttext p{
  margin: 0;
  padding: 0;
  font-family: 'ALSSchlangesans-Bold';
font-style: normal;
font-weight: bold;
font-size: 45px;
line-height: 120%;
text-align: center;
color: white;
}
.productsimg {
  width: 100%;
}
.mehanika {
  background-color: #9E190C;
}
.mehanika h3 {
  padding: 0;
  margin: 0;
}
.mehanika-title h3{
  padding-top: 5rem;
font-weight: 900;
font-size: 60px;
line-height: 120%;
text-align: center;
letter-spacing: 0.1em;
text-transform: uppercase;
font-family: 'ALSSchlangesans-Black'; 
  font-style: normal;
	font-weight: bold;
  
color: white;
}
.mehanika-title p{
  margin: 0;
  padding: 0;
  font-family: 'ALSSchlangesans-Bold';
font-style: normal;
font-weight: bold;
font-size: 36px;
line-height: 120%;
text-align: center;
color: white;
margin-bottom: 5rem;
}
.boxes {
  margin-left: 2.5rem;
  position: relative;
  display: inline-flex;
flex-direction: column;
flex-wrap: nowrap;
justify-content: center;
align-content: stretch;
align-items: center;
text-align: center;
border: 5px solid #fff;
box-sizing: border-box;
border-radius: 50px; 
  width: 30%;
  padding: 1rem 2rem 2rem;
}

.boxes h3{

font-weight: 900;
font-size: 40px;
line-height: 120%;
text-align: center;
letter-spacing: 0.1em;
text-transform: uppercase;
font-family: 'ALSSchlangesans-Black'; 
  font-style: normal;
	font-weight: bold;
  
color: white;
}
.boxes p{
  font-family: 'ALSSchlangesans-Bold';
font-style: normal;
font-weight: bold;
font-size: 28px;
line-height: 120%;
text-align: center;
color: white;
}

.boxes img{
  width: 30%;
  height: auto;
}
.boximg1 {
    background-image: url("../static/product.png") ;
  background-repeat: no-repeat ;
  background-position: 50% 50%;
background-size: contain;
position: relative;
width: 80%;
padding-top: 60%;
}
.boximg2 {
    background-image: url("../static/check.png") ;
  background-repeat: no-repeat ;
  background-position: 50% 50%;
background-size: contain;
position: relative;
width: 50%;
padding-top: 74%;
}
.boximg3 {
    background-image: url("../static/cart5.png") ;
  background-repeat: no-repeat ;
  background-position: 50% 50%;
background-size: contain;
position: relative;
width: 60%;
padding-top: 67%;
}

.mainprize{
margin-top: 5vw;
display: flex;
flex-direction: row;
flex-wrap: nowrap;
justify-content: center;
align-content: stretch;
align-items: center;
}
.mainprize img{
width: 15%;
}
.mainprizetext{
  text-align: left;
  justify-content: left;
  left: 0;
  margin-left: 2rem;
}
.mainprizetext h3{
  
font-weight: 900;
font-size: 60px;
line-height: 120%;
letter-spacing: 0.1em;
text-transform: uppercase;
font-family: 'ALSSchlangesans-Black'; 
  font-style: normal;
	font-weight: bold;
color: white;
}
.mainprizetext p{
  margin-top: 1rem;
    font-family: 'ALSSchlangesans-Bold';
font-style: normal;

text-transform: uppercase;
font-weight: bold;
font-size: 36px;
line-height: 120%;
color: white;
}
.buttons{
  margin-top: 3vw;
display: flex;
flex-direction: row;
flex-wrap: nowrap;
justify-content: center;
align-content: stretch;
align-items: center;
}

.buybutton{
cursor: pointer;
font-family: 'ALSSchlangesans-Bold';
font-size: 24px;
line-height: 120%;
padding: 1rem 2rem;
text-align: center;
white-space: nowrap;
box-sizing: border-box;
text-decoration: none;
text-transform: uppercase;
border-radius: 20rem;
outline: none;
display: flex;
flex-direction: row;
flex-wrap: nowrap;
justify-content: center;
align-content: stretch;
align-items: center;
background: #fff;
color: #e52117;
border: 2px solid #fff;
}
.buybutton img{
  width: 20%;
}
.buybutton:hover{
  background: #9E190C;
  color: #fff ;
}
.regbutton{
  
margin-left: 2rem;
cursor: pointer;
font-family: 'ALSSchlangesans-Bold';
font-size: 24px;
line-height: 120%;
padding: 1rem 2rem;
text-align: center;
white-space: nowrap;
box-sizing: border-box;
text-decoration: none;
text-transform: uppercase;
border-radius: 20rem;
outline: none;
display: flex;
flex-direction: row;
flex-wrap: nowrap;
justify-content: center;
align-content: stretch;
align-items: center;
background: #9E190C;
color:#fff;
border: 2px solid #fff;
}
.regbutton:hover{
  background: #fff;
  color: #9E190C ;
}
#sth{
  text-align: center;
  font-family: 'ALSSchlangesans-Bold';
font-size: 20px;
color:#fff;
text-transform: uppercase;
line-height: 120%;
padding: 2% ;
}


.winners {
  display: flex;
flex-direction: row;
flex-wrap: nowrap;
justify-content: space-between;
align-content: stretch;
align-items: center;
position: relative;
box-sizing: border-box;
padding-left: 10rem;
padding-right: 10rem;
width: 100%;
}
.winners h3{
font-family: 'ALSSchlangesans-Black'; 
text-transform: uppercase;
font-size: 60px;
line-height: 78px;
}
.winners p{
font-family: 'ALSSchlangesans-Black'; 
font-size: 16px;
line-height: 140%;
text-transform: uppercase;
}
.winners input{
  position: relative;
background: #fff;
border: 2px solid #a8a8a8;
border-radius: 10rem;
box-sizing: border-box;
 font-size: 1.5rem;
line-height: 140%;
color: #000;
padding: 1rem 6rem;
outline: none;
text-align: left;
margin-right: 1rem ;
  align-content: left;
}

.find-button{
cursor: pointer;
background: #E52117;
font-family: 'ALSSchlangesans-Bold'; 
font-size: 1.5rem;
line-height: 140% !important;
color: #fff;
padding: 1rem 2rem;
text-align: center;
white-space: nowrap;
box-sizing: border-box;
text-decoration: none;
text-transform: uppercase;
border-radius: 20rem;
outline: none;
border: 1px solid #E52117;
}
.find-button:hover{
  background: #fff;
  color: #E52117;
}
.searchtable{
  margin-top: 2rem;
      position: relative;
    box-sizing: border-box;
    padding-left: 10rem;
    padding-right: 10rem;
    width: 100%;
}

.jopa {
  width: 100%;
background: #f3f3f3;
margin-bottom: 4rem;
display: flex;
flex-direction: row;
flex-wrap: nowrap;
justify-content: space-between;
align-content: stretch;
align-items: center;
}
.jopa a{
  
font-family: 'ALSSchlangesans-Black'; 
  position: relative;
display: block;
cursor: pointer;
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 120%;
text-transform: uppercase;
color: #000;
text-align: center;
text-decoration: none;
white-space: nowrap;
width: 33%;
}

.wintable{
  position: relative;
width: 100%;
border-collapse: collapse;
padding-bottom: 3.5rem;
white-space: nowrap;
text-transform: uppercase;
}
.wintable td{
  width: 33%;
}
thead td{
font-family: 'ALSSchlangesans-Black'; 

font-size: 20px;
line-height: 120%;
}
thead{
  border-bottom: 1px solid #c4c4c4;
}
tbody td{
  
font-family: 'ALSSchlangesans-Bold'; 
font-size: 20px;
padding-top: 2rem ;
}



.buttons1{
  opacity: 0;
  margin-left: 10% ;
  margin-top: 3vw;
display: flex;
flex-direction: row;
flex-wrap: nowrap;
justify-content: center;
align-content: stretch;
align-items: center;
}

.buybutton1{
cursor: pointer;
font-family: 'ALSSchlangesans-Bold';
font-size: 24px;
line-height: 120%;
padding: 1rem 2rem;
text-align: center;
white-space: nowrap;
box-sizing: border-box;
text-decoration: none;
text-transform: uppercase;
border-radius: 20rem;
outline: none;
display: flex;
flex-direction: row;
flex-wrap: nowrap;
justify-content: center;
align-content: stretch;
align-items: center;
background: #fff;
color: #e52117;
border: 2px solid #fff;
}
.buybutton1 img{
  width: 20%;
}
.buybutton1:hover{
  background: none;
  color: #fff ;
}
.regbutton1{
  
margin-left: 2rem;
cursor: pointer;
font-family: 'ALSSchlangesans-Bold';
font-size: 24px;
line-height: 120%;
padding: 1rem 2rem;
text-align: center;
white-space: nowrap;
box-sizing: border-box;
text-decoration: none;
text-transform: uppercase;
border-radius: 20rem;
outline: none;
display: flex;
flex-direction: row;
flex-wrap: nowrap;
justify-content: center;
align-content: stretch;
align-items: center;
color:#fff;
border: 2px solid #fff;
}
.regbutton1:hover{
  background: #fff;
  color: #9E190C ;
}
.productimgmob{
  width: 0;
  padding: 0;
  margin: 0;
  opacity: 0;
}
.productimgmobpic{
  opacity: 0;
  padding: 0;
  margin: 0;
  width: 0;
}
  @media only screen and (max-width: 360px) { 
    .header{
      display: grid;
      padding-bottom:0 ;
    }
    #textheader{
      opacity: 0;
    }
    
.buttons1{
  opacity: 1;
margin-right: 2rem ;
margin-bottom: 3rem ;
}
  
.buybutton1{

font-size: 14px;
padding: 1rem 1rem;
}
.buybutton1 img{
  width: 15%;
}

.regbutton1{
margin-left: 1rem;
font-size: 14px;
padding: 1rem 1rem;
}
.content{
  background-image: url("../static/back1mob.png") ;
  background-repeat: no-repeat ;
  background-position: 10% 20%;
background-size: 100%;

width:100%; 
}
.contenttext {
padding-left: 0% ;
display: grid;
text-align: center;
}
.contenttext h3 {
  padding-top: 35%;
font-size: 26px;

}

.contenttext p{
  margin: 0;
  padding: 0;
font-size: 18px;
}
.productsimg {
  width: 100%;
}
.mehanika {
  background-color: #9E190C;
}

.mehanika-title h3{
  padding-top: 2rem;
font-size: 26px;

}
.mehanika-title p{
font-size: 18px;
margin-bottom: 1rem;
}



    .productsimg{
      opacity: 0;
    }
.productimgmob{
  background-color: white ;
  height: 50%;
  width: 100%;
  opacity: 1;
  margin-bottom: -5rem ;
}
.productimgmobpic{
  
  opacity: 1;
  width: 100%;
   transform: translateY(-40%);
}
.boxes {
  display: grid;
width: 100%;

margin:0 0 1rem 0rem;

  justify-content: center;
  padding: 1rem;
}

.boxes h3{

font-size: 20px;

}
.boxes p{
font-size: 18px;
}


.boximg1 {
width: 100%;
}
.boximg2 {
width: 80%;
padding-left: 20%;
}
.boximg3 {
width: 70%;
padding-left: 50%;
}
.mainprize{
display: grid;
}
.mainprize img{
margin-left: 3rem;
width: 80%;
}
.mainprizetext{
  text-align: left;
  justify-content: left;
  left: 0;
  margin-left: 2rem;
}
.mainprizetext h3{
  
font-size: 28px;

}
.mainprizetext p{
  margin-top: 1rem;
font-size: 18px;
}


.buybutton{

font-size: 14px;
padding: 1rem 1rem;
}
.buybutton img{
  width: 15%;
}

.regbutton{
margin-left: 1rem;
font-size: 14px;
padding: 1rem 1rem;
}
#sth{
  
font-size: 14px;
}

.winners {
  display: grid;
padding-left: 0rem;
padding-right: 0rem;
width: 100%;
}
.winners h3{
text-align: center;
font-size: 40px;
line-height: 36px;
}
.winners p{
  
text-align: center;
font-size: 16px;
}
.winners input{
  align-content: center;
 font-size: 14px;

padding: 1rem 5.2rem;
margin-right: 0rem ;
margin-bottom: 2rem ;
}

.find-button{

font-size: 18px;

padding: 1rem 9rem;

}

.searchtable{
  margin-top: 2rem;
      position: relative;
    box-sizing: border-box;
    padding-left: 10rem;
    padding-right: 10rem;
    width: 100%;
}
.jopa {
  opacity: 0;
  width: 100%;
background: #f3f3f3;
margin-bottom: 0rem;
display: flex;
flex-direction: row;
flex-wrap: nowrap;
justify-content: space-between;
align-content: stretch;
align-items: center;
}
.jopa a{
  
font-family: 'ALSSchlangesans-Black'; 
  position: relative;
display: block;
cursor: pointer;
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 120%;
text-transform: uppercase;
color: #000;
text-align: center;
text-decoration: none;
white-space: nowrap;
width: 33%;
}

.wintable{
  display: grid;
  position: relative;
width: 100%;
border-collapse: collapse;
padding-bottom: 3.5rem;
white-space: nowrap;
text-transform: uppercase;
}

.wintable tr{
  
  display: grid;
}
.wintable td{
  display: grid;
  width: 100%;
}
thead td{
font-family: 'ALSSchlangesans-Black'; 

font-size: 16px;
line-height: 120%;
}
thead{
  width: 100%;
  margin: 0;
  border-bottom: 1px solid #c4c4c4;
}
tbody td{
font-size: 16px;
padding-top: 2rem ;
}
  }
</style>
